#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

.item:hover {
  color: #fff;
  cursor: pointer;
  border-radius: 0.25rem;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.list .item .actions .btn {
  background: none;
  border: none;
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: rgba(235, 235, 235, 0.64);
  cursor: pointer;
}

.list .item .actions .btn:hover{
  color: #fff;
}

.list {
  padding-top: 25px;
}

.list .item {
  text-align: left;
  padding: 5px;
}

.list .actions {
  float: right;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.form input {
  transition: ease-in-out 0.2s;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  height: 40px;
  text-align: center;
  background-color: #3F3F3F;
  color: #fff;
}